<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <span>Hi,</span><%= @user.name %>

        <p>Items In Your Wishlist are :-<p>
    <table class="listing" summary="Item list">
      <tr class="header">
        <th>Item_image</th>
        <th>Item_name</th>
        <th>Item_price</th>
        <th>Item_description</th>
      </tr>
    <% @items.each do |item| %>
    <tr>
      <td><%= image_tag item.image.url(:thumb) %></td>
      <td><%= item.name %></td>
      <td><%= item.price %></td>
      <td><%= item.description %></td>
    </tr>
    <% end %>
    </table>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
