<body>
  <header class="header">
    <div class="container ">
      <ul class="nav nav-pills navbar-right">
        <li role="presentation"><%= link_to("View Wishlist", shopfronts_cart_path, class: 'back-link') %></li>
        <li role="presentation"><%= link_to("Logout", access_logout_path) %></li>
      </ul>
    </div>
  </header>

  <div class="container form-padding">
    <%= form_tag(shopfronts_view_path, method: "get") do %>
      <span class="form-padding text-size"><%= label_tag(:q, "Search for:") %></span>
      <span class="form-padding"><%= select_tag(:q, options_for_select(@categories.map {|s| [s.name, s.id]})) %></span>
      <span class="form-padding"><%= submit_tag("Search") %></span>
    <% end %>
  </div>
  <% if !flash[:notice].blank? %>
    <div class="container notice">
      <%= flash[:notice] %>
    </div>
  <% end %>
  <div class="Categories new container">
    <table class="listing table table-striped table-inverse" summary="Item list">
      <tr class="">
        <th>Item_image</th>
        <th>Item_name</th>
        <th>Item_price</th>
        <th>Item_description</th>
        <th></th>
        <th></th>
      </tr>
    <% @items.each do |item| %>
    <tr>
      <td class="form-padding"><%= image_tag item.image.url(:thumb) %></td>
      <td class="form-padding"><%= item.name %></td>
      <td class="form-padding"><%= item.price %></td>
      <td class="form-padding"><%= item.description %></td>
      <td class="form-padding"><%= link_to "Add to WishList", shopfronts_wishlist_path(itm: item), class: 'back-link' %></td>
      <td class="form-padding"><%= social_share_button_tag(item) %></td>
    </tr>
    <% end %>
    </table>
</div>
</body>
