<%= link_to("<< Back To List",items_path,class: 'back-link') %>

<div class="items show"
  <h2>Show Items</h2>

  <table summary="Item list">
    <tr>
      <th>Item_id</th>
      <td><%= @item.id %></td>
    </tr>
    <tr>
      <th>Item_name</th>
      <td><%= @item.name %></td>
    </tr>
    <tr>
      <th>Item_price</th>
      <td><%= @item.price %></td>
    </tr>
    <tr>
      <th>Category_name</th>
      <td><%= @item.category.name %></td>
    </tr>
    <tr>
      <th>Item_description</th>
      <td><%= @item.description %></td>
    </tr>
      <th>Actions</th>
    </tr>
  </table>
</div>
