<body>
  <header class="header">
    <div class="container ">
      <ul class="nav nav-pills navbar-right">
          <li role="presentation"><%= link_to("<< Back To List",items_path(category_id: @category.id),class: 'back-link') %></li>
          <li role="presentation"><%= link_to("Logout", access_logout_path) %></li>
      </ul>
    </div>
  </header>


  <div class="Categories new container">
    <h2>Show Items</h2>

    <table summary="Item list">
      <tr>
        <th>Item_image:</th>
        <td class="form-padding"><%= image_tag @item.image.url(:medium) %></td>
      </tr>
      <tr>
        <th>Item_id:</th>
        <td class="form-padding"><%= @item.id %></td>
      </tr>
      <tr>
        <th>Item_name:</th>
        <td class="form-padding"><%= @item.name %></td>
      </tr>
      <tr>
        <th>Item_price:</th>
        <td class="form-padding"><%= @item.price %></td>
      </tr>
      <tr>
        <th>Category_name:</th>
        <td class="form-padding"><%= @item.category.name %></td>
      </tr>
      <tr>
        <th>Item_description:</th>
        <td class="form-padding"><%= @item.description %></td>
      </tr>
    </table>
  </div>
</body>
